:root {
  --primary: hsla(235, 86%, 65%, 1);
  --primary-dark: hsla(235, 83%, 59%, 1);
  --bg: hsla(214, 7%, 19%, 1);
  --light-bg: hsla(0, 0%, 96%, 1);
  --red: hsla(0, 100%, 50%, 1);
  --white: hsla(0, 0%, 100%, 1);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
}
