// Montserrat Font Import
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary: hsla(235, 86%, 65%, 1);
  --primary-dark: hsla(235, 83%, 59%, 1);
  --bg: hsla(214, 7%, 19%, 1);
  --light-bg: hsla(0, 0%, 96%, 1);
  --red: hsla(0, 100%, 50%, 1);
  --white: hsla(0, 0%, 100%, 1);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif, monospace;
}
